In [5]:
import pandas as pd
import numpy as np

In [7]:
dados_csv = pd.read_csv('data_inicial.csv')
dados_csv

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
2,Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
3,Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java
...,...,...,...,...,...,...
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [8]:
# Passando os dados para um dataframe
df = pd.DataFrame(dados_csv)
df.head()

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
2,Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
3,Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java

In [9]:
# exibindo os primeiros 5 itens 
df['idade'].head()

0    27
1    60
2    39
3    29
4    60
Name: idade, dtype: int64

In [10]:
# exibindo os ultimos 5 itens 
df['idade'].tail()

195    32
196    20
197    65
198    56
199    43
Name: idade, dtype: int64

In [11]:
# Tipos de dados da colunas
df.dtypes

nome              object
idade              int64
email             object
estado            object
genero_musical    object
linguagem         object
dtype: object

In [12]:
# Transposição(linha vira coluna)
df.T

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
nome,Samuel Melo,Henrique da Mata,Luigi Cunha,Dra. Fernanda Novaes,Joaquim Ferreira,Nicolas da Luz,Alexia Gomes,Sra. Catarina Viana,Júlia Sales,Igor Farias,...,Sr. Anthony Barbosa,Emanuelly Alves,Ana Laura Almeida,Lavínia Moreira,Sr. Gustavo Henrique Barbosa,Vitor Gabriel da Cruz,Letícia Silveira,Vitor Hugo Carvalho,Davi Lucas Nogueira,Luiz Otávio Azevedo
idade,27,60,39,29,60,46,37,61,31,37,...,49,30,60,35,38,32,20,65,56,43
email,goncalvesdanilo@gmail.com,jesusisadora@uol.com.br,acarvalho@uol.com.br,ribeiropietra@yahoo.com.br,emelo@gmail.com,julia99@castro.br,kamillycosta@hotmail.com,benicioda-luz@hotmail.com,sda-rocha@monteiro.com,vda-cunha@uol.com.br,...,cardosojuan@duarte.com,rda-luz@hotmail.com,levi65@hotmail.com,salesesther@melo.net,luanacostela@carvalho.net,jbarros@uol.com.br,jsilveira@pereira.org,rodriguesbreno@correia.br,ada-conceicao@uol.com.br,maria-sophianogueira@lopes.net
estado,Espírito Santo,Rondônia,Minas Gerais,Amazonas,Distrito Federal,Amapá,Pernambuco,Distrito Federal,Rio de Janeiro,Santa Catarina,...,Alagoas,Piauí,Goiás,Rondônia,Piauí,Sergipe,Rio Grande do Norte,Bahia,Minas Gerais,Amapá
genero_musical,Blues,Jazz,Hip Hop,Sertanejo,Eletrônica,Samba,Hip Hop,Samba,Rap,Jazz,...,Sertanejo,Reggae,Forró,Eletrônica,Gospel,Eletrônica,Hip Hop,Pagode,Rock,Funk
linguagem,Python,Java,Python,Java,Java,Java,Python,Python,Python,Python,...,Python,Java,Python,Python,Python,Python,Python,Python,Java,Java

In [13]:
# exibir dimensões(linhas x colunas)
df.shape

(200, 6)

In [14]:
# Exibe os index
df.index

RangeIndex(start=0, stop=200, step=1)

In [15]:
# Exibe as colunas
df.columns

Index(['nome', 'idade', 'email', 'estado', 'genero_musical', 'linguagem'], dtype='object')

In [16]:
# informações
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nome            200 non-null    object
 1   idade           200 non-null    int64
 2   email           200 non-null    object
 3   estado          200 non-null    object
 4   genero_musical  200 non-null    object
 5   linguagem       200 non-null    object
dtypes: int64(1), object(5)
memory usage: 9.5+ KB

In [17]:
# Estatisticas descritivas
df.describe()

            idade
count  200.000000
mean    44.275000
std     15.540816
min     18.000000
25%     30.000000
50%     46.000000
75%     58.000000
max     70.000000

In [18]:
# Primeira condição
pri_cond = df[df['idade'] > 50]
pri_cond

,nome,idade,email,estado,genero_musical,linguagem
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java
7,Sra. Catarina Viana,61,benicioda-luz@hotmail.com,Distrito Federal,Samba,Python
12,Lucas Gabriel Martins,59,vianamelissa@uol.com.br,Paraíba,Pop,Java
13,Sra. Beatriz Correia,52,ana-vitoria36@ig.com.br,São Paulo,Axé,Python
...,...,...,...,...,...,...
187,Felipe Viana,56,upires@uol.com.br,Minas Gerais,Forró,Java
188,Sr. Thales da Costa,57,andreoliveira@dias.com,Minas Gerais,Axé,Java
192,Ana Laura Almeida,60,levi65@hotmail.com,Goiás,Forró,Python
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java

In [19]:
# exibindo a quantidade de dados no df da primeira condição
len(pri_cond)

81

In [20]:
# Segunda condição (maior que 50 e menor que 60)
seg_cond = df[(df['idade'] > 50) & (df['idade'] < 60)]
seg_cond

,nome,idade,email,estado,genero_musical,linguagem
12,Lucas Gabriel Martins,59,vianamelissa@uol.com.br,Paraíba,Pop,Java
13,Sra. Beatriz Correia,52,ana-vitoria36@ig.com.br,São Paulo,Axé,Python
23,Dra. Daniela Cunha,55,maria-ceciliaoliveira@bol.com.br,Rio de Janeiro,Country,Java
25,Cecília Viana,59,igorcavalcanti@uol.com.br,Roraima,Gospel,Java
32,Raquel Cardoso,52,goncalvesguilherme@gmail.com,Espírito Santo,Forró,Python
38,Maria Eduarda Fernandes,59,luiz-otavio54@campos.com,Minas Gerais,Country,Python
46,Daniel Fernandes,59,gustavoaraujo@uol.com.br,Bahia,Country,Python
49,Srta. Júlia Lima,52,pedro-miguel70@fernandes.com,Alagoas,MPB,Java
50,Eduardo Costa,56,melissasilva@dias.com,Acre,Jazz,Python
51,Pedro Miguel Santos,51,da-matarebeca@rocha.br,Pernambuco,Rock,Python
54,Emanuella Alves,56,larissaribeiro@rezende.org,Goiás,Hip Hop,Python
63,Stella Castro,59,augustopereira@yahoo.com.br,Pará,Funk,Python
66,Lavínia Azevedo,58,vitoriaalmeida@correia.org,Bahia,Blues,Python
71,Marina Nogueira,53,natalia65@pinto.br,Rondônia,Reggae,Python
72,Elisa Novaes,52,joao-pedro51@bol.com.br,Alagoas,Música clássica,Python
75,Elisa Viana,56,joao-felipe59@hotmail.com,Rio Grande do Norte,Blues,Python
87,Benício Cardoso,58,yuri56@yahoo.com.br,Rondônia,Sertanejo,Python
92,Sabrina Mendes,59,xmelo@da.com,Distrito Federal,Reggae,Python
93,Marcela Fogaça,57,cunhamatheus@lopes.net,Mato Grosso,Sertanejo,Java
99,Dr. Renan Mendes,52,leonardo65@gomes.com,Santa Catarina,Pop,Python
101,Srta. Catarina Moreira,58,vitoria17@yahoo.com.br,Mato Grosso do Sul,Rock,Python
104,Davi Lucas Gomes,56,limajoao-miguel@hotmail.com,Mato Grosso,MPB,Java
115,Dr. Ian Moraes,54,azevedoantonio@ramos.br,Minas Gerais,Eletrônica,Java
116,Maria Fernanda da Costa,59,otaviopires@rezende.br,Mato Grosso do Sul,Hip Hop,Python
119,Sr. Lorenzo Pinto,54,helenaalves@barbosa.net,Rondônia,Gospel,Python
138,Thiago Martins,51,arthur26@yahoo.com.br,Ceará,Rock,Java
147,Carolina da Paz,57,diego89@pereira.com,Maranhão,Hip Hop,Python
148,Emanuelly Cardoso,55,omoreira@bol.com.br,Mato Grosso do Sul,Pagode,Java
150,Luiz Fernando Carvalho,51,oliviasales@hotmail.com,Pará,MPB,Python
161,Sra. Brenda Viana,52,giovannafreitas@santos.com,Ceará,Axé,Python
165,Augusto Moraes,52,ceciliaaragao@novaes.br,Paraíba,Sertanejo,Python
167,Davi Lucca Gonçalves,57,vramos@yahoo.com.br,Santa Catarina,Reggae,Java
173,Olivia Moreira,57,lucas-gabriel22@bol.com.br,Alagoas,Jazz,Python
174,Olivia Oliveira,57,maria-fernandamartins@yahoo.com.br,Minas Gerais,Música clássica,Java
175,Kaique da Luz,51,pereiraleonardo@yahoo.com.br,Pernambuco,Country,Python
176,Luiz Gustavo Rocha,51,luigi22@yahoo.com.br,Acre,Pop,Python
187,Felipe Viana,56,upires@uol.com.br,Minas Gerais,Forró,Java
188,Sr. Thales da Costa,57,andreoliveira@dias.com,Minas Gerais,Axé,Java
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java

In [21]:
# exibindo a quantidade de dados no df da segunda condição
len(seg_cond)

39

In [22]:
# Ordenando dados
df_ordenado = df.sort_values(by=['idade'])
df_ordenado

,nome,idade,email,estado,genero_musical,linguagem
185,Clara da Mata,18,mariane89@silva.br,Rio de Janeiro,Rap,Python
100,Joaquim Rezende,18,joao-pedroaragao@yahoo.com.br,Alagoas,Rock,Python
30,Melissa Costela,18,vbarbosa@pereira.com,Espírito Santo,Rock,Java
135,Dr. Caio Lima,18,ccaldeira@hotmail.com,Santa Catarina,Pop,Java
168,Julia Fernandes,18,teixeiramaria-cecilia@rezende.br,Paraná,Country,Java
...,...,...,...,...,...,...
68,Ana Luiza da Luz,69,nunesisis@da.br,Espírito Santo,Samba,Java
182,Maria Cecília Gonçalves,69,da-cunhaluigi@bol.com.br,Distrito Federal,Funk,Python
159,Carlos Eduardo Fernandes,69,catarina31@bol.com.br,Alagoas,Country,Java
114,Luna Fogaça,70,pietra45@gmail.com,Tocantins,Funk,Python
178,Ian Duarte,70,arthur31@ig.com.br,Espírito Santo,MPB,Python

In [31]:
# removendo coluna email
df2 = df_ordenado.drop(columns=['email'])
df2

,nome,idade,estado,genero_musical,linguagem
185,Clara da Mata,18,Rio de Janeiro,Rap,Python
100,Joaquim Rezende,18,Alagoas,Rock,Python
30,Melissa Costela,18,Espírito Santo,Rock,Java
135,Dr. Caio Lima,18,Santa Catarina,Pop,Java
168,Julia Fernandes,18,Paraná,Country,Java
...,...,...,...,...,...
68,Ana Luiza da Luz,69,Espírito Santo,Samba,Java
182,Maria Cecília Gonçalves,69,Distrito Federal,Funk,Python
159,Carlos Eduardo Fernandes,69,Alagoas,Country,Java
114,Luna Fogaça,70,Tocantins,Funk,Python
178,Ian Duarte,70,Espírito Santo,MPB,Python

In [32]:
# Quantidade de programadores com genero_musical X

df2['genero_musical'].value_counts()

Blues              16
MPB                15
Eletrônica         15
Rock               14
Funk               13
Sertanejo          13
Gospel             13
Country            12
Hip Hop            11
Samba              11
Pop                11
Rap                10
Reggae              9
Forró               9
Jazz                8
Axé                 7
Música clássica     7
Pagode              6
Name: genero_musical, dtype: int64

In [24]:
# Exibindo quantidade 'linguagem por genero_musical

pd.pivot_table(df2[['linguagem', 'genero_musical']], index=['linguagem'], columns='genero_musical', aggfunc=[len]).T

linguagem            Java  Python
    genero_musical
len Axé                 3       4
    Blues              10       6
    Country             5       7
    Eletrônica          6       9
    Forró               3       6
    Funk                3      10
    Gospel              5       8
    Hip Hop             2       9
    Jazz                3       5
    MPB                 7       8
    Música clássica     3       4
    Pagode              4       2
    Pop                 7       4
    Rap                 4       6
    Reggae              5       4
    Rock                8       6
    Samba               6       5
    Sertanejo           6       7

In [37]:
# captura quantidade de linguagens por estado
qtd_estado = pd.pivot_table(df2[['estado', 'linguagem']], index='linguagem', columns='estado', aggfunc=[len]).T

# substituindo dados nulos em 0
qtd_estado = qtd_estado.fillna(value=0)

qtd_estado

linguagem                Java  Python
    estado
len Acre                  3.0     7.0
    Alagoas               3.0     6.0
    Amapá                 6.0     1.0
    Amazonas              2.0     3.0
    Bahia                 5.0     5.0
    Ceará                 3.0     3.0
    Distrito Federal      2.0     5.0
    Espírito Santo        4.0     4.0
    Goiás                 5.0     9.0
    Maranhão              3.0     6.0
    Mato Grosso           4.0     4.0
    Mato Grosso do Sul    4.0     6.0
    Minas Gerais          6.0     4.0
    Paraná                3.0     5.0
    Paraíba               4.0     3.0
    Pará                  3.0     3.0
    Pernambuco            3.0     4.0
    Piauí                 3.0     3.0
    Rio Grande do Norte   0.0     4.0
    Rio Grande do Sul     1.0     0.0
    Rio de Janeiro        5.0     4.0
    Rondônia              6.0     9.0
    Roraima               3.0     0.0
    Santa Catarina        3.0     5.0
    Sergipe               1.0     1.0
    São Paulo             2.0     1.0
    Tocantins             3.0     5.0