In [2]:
# Creating data

import pandas as pd

In [4]:
# DataFrame

pd.DataFrame({'Yes': [50, 21], 'No':[131, 2]})

   Yes   No
0   50  131
1   21    2

In [6]:
pd.DataFrame({'Erick': ['Eu gosto', 'Eu não gosto'], 'Matheus': ['Eu curto', 'eu não curto']})

          Erick       Matheus
0      Eu gosto      Eu curto
1  Eu não gosto  eu não curto

In [8]:
pd.DataFrame({'Erick': ['Eu gosto', 'Eu não gosto'], 'Matheus': ['Eu curto', 'eu não curto']}, index=['Posivito', 'Negativo'])

                 Erick       Matheus
Posivito      Eu gosto      Eu curto
Negativo  Eu não gosto  eu não curto

In [12]:
# Series
pd.Series(range(1, 6))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
pd.Series([30, 50, 60], index=['2015 Vendas', '2016 Vendas', '2017 Vendas'], name='Produto X')

2015 Vendas    30
2016 Vendas    50
2017 Vendas    60
Name: Produto X, dtype: int64

In [25]:
data = pd.read_csv('01_dados.csv', index_col=0)
data

   Product A  Product B  Product C
1         30         21          9
2         35         34          1
3         41         11         11