In [4]:
import pandas as pd

reviews = pd.read_csv('02_data.csv')
reviews

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
2,Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
3,Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java
...,...,...,...,...,...,...
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [11]:
# retornando uma coluna

reviews.email

0           goncalvesdanilo@gmail.com
1             jesusisadora@uol.com.br
2                acarvalho@uol.com.br
3          ribeiropietra@yahoo.com.br
4                     emelo@gmail.com
                    ...
195                jbarros@uol.com.br
196             jsilveira@pereira.org
197         rodriguesbreno@correia.br
198          ada-conceicao@uol.com.br
199    maria-sophianogueira@lopes.net
Name: email, Length: 200, dtype: object

In [12]:
reviews['email']

0           goncalvesdanilo@gmail.com
1             jesusisadora@uol.com.br
2                acarvalho@uol.com.br
3          ribeiropietra@yahoo.com.br
4                     emelo@gmail.com
                    ...
195                jbarros@uol.com.br
196             jsilveira@pereira.org
197         rodriguesbreno@correia.br
198          ada-conceicao@uol.com.br
199    maria-sophianogueira@lopes.net
Name: email, Length: 200, dtype: object

In [15]:
# retorna o item do index especificado
reviews['email'][0]

'goncalvesdanilo@gmail.com'

In [18]:
# ILOC

# retorna o primeiro item 
reviews.iloc[0]

nome                            Samuel Melo
idade                                    27
email             goncalvesdanilo@gmail.com
estado                       Espírito Santo
genero_musical                        Blues
linguagem                            Python
Name: 0, dtype: object

In [21]:
# Retorna todos da coluna 0
reviews.iloc[:, 0]

0                Samuel Melo
1           Henrique da Mata
2                Luigi Cunha
3       Dra. Fernanda Novaes
4           Joaquim Ferreira
               ...
195    Vitor Gabriel da Cruz
196         Letícia Silveira
197      Vitor Hugo Carvalho
198      Davi Lucas Nogueira
199      Luiz Otávio Azevedo
Name: nome, Length: 200, dtype: object

In [22]:
# retorna os 3 primeiros da coluna 0
reviews.iloc[:3, 0]

0         Samuel Melo
1    Henrique da Mata
2         Luigi Cunha
Name: nome, dtype: object

In [25]:
# do index 5 até o index 10 da coluna 0
reviews.iloc[5:10, 0]

5         Nicolas da Luz
6           Alexia Gomes
7    Sra. Catarina Viana
8            Júlia Sales
9            Igor Farias
Name: nome, dtype: object

In [26]:
# selecionar por index
reviews.iloc[[1, 10, 7], 0]

1        Henrique da Mata
10          Isaac da Mata
7     Sra. Catarina Viana
Name: nome, dtype: object

In [29]:
# Retorna os 5 ultimos
reviews.iloc[-5:]

,nome,idade,email,estado,genero_musical,linguagem
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [30]:
# LOC

# index 0 da coluna nome
reviews.loc[0, 'nome']

'Samuel Melo'

In [34]:
# Retornar apenas as colunas especificadas

reviews.loc[:, ['nome', 'idade', 'linguagem']]

                      nome  idade linguagem
0              Samuel Melo     27    Python
1         Henrique da Mata     60      Java
2              Luigi Cunha     39    Python
3     Dra. Fernanda Novaes     29      Java
4         Joaquim Ferreira     60      Java
..                     ...    ...       ...
195  Vitor Gabriel da Cruz     32    Python
196       Letícia Silveira     20    Python
197    Vitor Hugo Carvalho     65    Python
198    Davi Lucas Nogueira     56      Java
199    Luiz Otávio Azevedo     43      Java

[200 rows x 3 columns]

In [35]:
# Manipulando por index

# trocando uma coluna por index
reviews.set_index('nome')

,idade,email,estado,genero_musical,linguagem
nome,,,,,
Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java
...,...,...,...,...,...
Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java