In [3]:
import pandas as pd

reviews = pd.read_csv('02_data.csv')
reviews

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
2,Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
3,Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java
...,...,...,...,...,...,...
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [4]:
# retornando uma coluna

reviews.email

0           goncalvesdanilo@gmail.com
1             jesusisadora@uol.com.br
2                acarvalho@uol.com.br
3          ribeiropietra@yahoo.com.br
4                     emelo@gmail.com
                    ...
195                jbarros@uol.com.br
196             jsilveira@pereira.org
197         rodriguesbreno@correia.br
198          ada-conceicao@uol.com.br
199    maria-sophianogueira@lopes.net
Name: email, Length: 200, dtype: object

In [5]:
reviews['email']

0           goncalvesdanilo@gmail.com
1             jesusisadora@uol.com.br
2                acarvalho@uol.com.br
3          ribeiropietra@yahoo.com.br
4                     emelo@gmail.com
                    ...
195                jbarros@uol.com.br
196             jsilveira@pereira.org
197         rodriguesbreno@correia.br
198          ada-conceicao@uol.com.br
199    maria-sophianogueira@lopes.net
Name: email, Length: 200, dtype: object

In [6]:
# retorna o item do index especificado
reviews['email'][0]

'goncalvesdanilo@gmail.com'

In [7]:
# ILOC

# retorna o primeiro item 
reviews.iloc[0]

nome                            Samuel Melo
idade                                    27
email             goncalvesdanilo@gmail.com
estado                       Espírito Santo
genero_musical                        Blues
linguagem                            Python
Name: 0, dtype: object

In [8]:
# Retorna todos da coluna 0
reviews.iloc[:, 0]

0                Samuel Melo
1           Henrique da Mata
2                Luigi Cunha
3       Dra. Fernanda Novaes
4           Joaquim Ferreira
               ...
195    Vitor Gabriel da Cruz
196         Letícia Silveira
197      Vitor Hugo Carvalho
198      Davi Lucas Nogueira
199      Luiz Otávio Azevedo
Name: nome, Length: 200, dtype: object

In [9]:
# retorna os 3 primeiros da coluna 0
reviews.iloc[:3, 0]

0         Samuel Melo
1    Henrique da Mata
2         Luigi Cunha
Name: nome, dtype: object

In [10]:
# do index 5 até o index 10 da coluna 0
reviews.iloc[5:10, 0]

5         Nicolas da Luz
6           Alexia Gomes
7    Sra. Catarina Viana
8            Júlia Sales
9            Igor Farias
Name: nome, dtype: object

In [11]:
# selecionar por index
reviews.iloc[[1, 10, 7], 0]

1        Henrique da Mata
10          Isaac da Mata
7     Sra. Catarina Viana
Name: nome, dtype: object

In [12]:
# Retorna os 5 ultimos
reviews.iloc[-5:]

,nome,idade,email,estado,genero_musical,linguagem
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [13]:
# LOC

# index 0 da coluna nome
reviews.loc[0, 'nome']

'Samuel Melo'

In [14]:
# Retornar apenas as colunas especificadas

reviews.loc[:, ['nome', 'idade', 'linguagem']]

                      nome  idade linguagem
0              Samuel Melo     27    Python
1         Henrique da Mata     60      Java
2              Luigi Cunha     39    Python
3     Dra. Fernanda Novaes     29      Java
4         Joaquim Ferreira     60      Java
..                     ...    ...       ...
195  Vitor Gabriel da Cruz     32    Python
196       Letícia Silveira     20    Python
197    Vitor Hugo Carvalho     65    Python
198    Davi Lucas Nogueira     56      Java
199    Luiz Otávio Azevedo     43      Java

[200 rows x 3 columns]

In [15]:
# Manipulando por index

# trocando uma coluna por index
reviews.set_index('nome')

,idade,email,estado,genero_musical,linguagem
nome,,,,,
Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java
...,...,...,...,...,...
Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python
Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [26]:
# Pegar itens da coluna apenas com o valor igual ao especificado (retorna True e false)
reviews.linguagem == 'Python'

0       True
1      False
2       True
3      False
4      False
       ...
195     True
196     True
197     True
198    False
199    False
Name: linguagem, Length: 200, dtype: bool

In [29]:
# Exibir apenas os campos se a condição for True
reviews.loc[reviews.linguagem == 'Python']

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
2,Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
6,Alexia Gomes,37,kamillycosta@hotmail.com,Pernambuco,Hip Hop,Python
7,Sra. Catarina Viana,61,benicioda-luz@hotmail.com,Distrito Federal,Samba,Python
8,Júlia Sales,31,sda-rocha@monteiro.com,Rio de Janeiro,Rap,Python
...,...,...,...,...,...,...
193,Lavínia Moreira,35,salesesther@melo.net,Rondônia,Eletrônica,Python
194,Sr. Gustavo Henrique Barbosa,38,luanacostela@carvalho.net,Piauí,Gospel,Python
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python

In [31]:
# Exibir apenas os campos se a condição for True
# E
reviews.loc[(reviews.linguagem == 'Python') & (reviews.genero_musical == 'Blues')]

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
66,Lavínia Azevedo,58,vitoriaalmeida@correia.org,Bahia,Blues,Python
75,Elisa Viana,56,joao-felipe59@hotmail.com,Rio Grande do Norte,Blues,Python
98,Vitor da Cruz,40,gabriel36@barbosa.br,Bahia,Blues,Python
131,Pedro Miguel Costa,46,ferreirabreno@ig.com.br,Goiás,Blues,Python
170,Pedro Miguel Porto,44,xbarbosa@ig.com.br,Espírito Santo,Blues,Python

In [34]:
# Exibir apenas os campos se a condição for True
# OU
reviews.loc[(reviews.linguagem == 'Java') | (reviews.genero_musical == 'Blues')]

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
3,Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Java
5,Nicolas da Luz,46,julia99@castro.br,Amapá,Samba,Java
...,...,...,...,...,...,...
188,Sr. Thales da Costa,57,andreoliveira@dias.com,Minas Gerais,Axé,Java
189,Raquel Santos,40,goncalvesmaria-clara@vieira.com,Sergipe,Eletrônica,Java
191,Emanuelly Alves,30,rda-luz@hotmail.com,Piauí,Reggae,Java
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [36]:
# Pegar apenas os valoes desejados de dentro de uma coluna
reviews.loc[reviews.genero_musical.isin(['Jazz', 'Blues'])]

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Java
9,Igor Farias,37,vda-cunha@uol.com.br,Santa Catarina,Jazz,Python
15,Ana Carolina Fogaça,27,rafaelacavalcanti@lopes.com,Rondônia,Blues,Java
16,Melissa Porto,62,rochapaulo@uol.com.br,Goiás,Jazz,Python
18,Stephany Pinto,39,luiz-miguel36@da.com,Pernambuco,Blues,Java
36,Dr. João Viana,66,lorenzo70@santos.br,Paraná,Blues,Java
44,Laís Santos,60,kgomes@hotmail.com,Amapá,Jazz,Java
50,Eduardo Costa,56,melissasilva@dias.com,Acre,Jazz,Python
53,Elisa Farias,27,raul81@ig.com.br,Rio de Janeiro,Blues,Java
60,Benício Monteiro,21,vianagabriela@uol.com.br,Mato Grosso do Sul,Blues,Java
66,Lavínia Azevedo,58,vitoriaalmeida@correia.org,Bahia,Blues,Python
70,Dra. Maria Cecília Dias,61,freitaslara@uol.com.br,Acre,Blues,Java
74,Breno Azevedo,65,bjesus@pinto.com,Bahia,Blues,Java
75,Elisa Viana,56,joao-felipe59@hotmail.com,Rio Grande do Norte,Blues,Python
97,Ana Lívia Campos,40,ana-claracampos@da.net,Bahia,Blues,Java
98,Vitor da Cruz,40,gabriel36@barbosa.br,Bahia,Blues,Python
107,Diogo Farias,64,brunofernandes@farias.com,Amapá,Jazz,Java
128,Sr. Rafael Dias,29,goncalvesenzo@martins.br,Rondônia,Blues,Java
131,Pedro Miguel Costa,46,ferreirabreno@ig.com.br,Goiás,Blues,Python
170,Pedro Miguel Porto,44,xbarbosa@ig.com.br,Espírito Santo,Blues,Python
171,Luiz Gustavo Pires,50,azevedoenzo-gabriel@gmail.com,Alagoas,Blues,Java
173,Olivia Moreira,57,lucas-gabriel22@bol.com.br,Alagoas,Jazz,Python
177,Marcos Vinicius Ferreira,64,ribeirokaique@yahoo.com.br,Piauí,Jazz,Python

In [45]:
reviews['linguagem'] = 'Python god'
reviews

,nome,idade,email,estado,genero_musical,linguagem,invert
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python god,200
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Python god,199
2,Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python god,198
3,Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Python god,197
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Python god,196
...,...,...,...,...,...,...,...
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python god,5
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python god,4
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python god,3
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Python god,2
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Python god,1

In [46]:
# invertendo index e colocando em uma coluna

reviews['invert'] = range(len(reviews), 0, -1)
reviews

,nome,idade,email,estado,genero_musical,linguagem,invert
0,Samuel Melo,27,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python god,200
1,Henrique da Mata,60,jesusisadora@uol.com.br,Rondônia,Jazz,Python god,199
2,Luigi Cunha,39,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python god,198
3,Dra. Fernanda Novaes,29,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Python god,197
4,Joaquim Ferreira,60,emelo@gmail.com,Distrito Federal,Eletrônica,Python god,196
...,...,...,...,...,...,...,...
195,Vitor Gabriel da Cruz,32,jbarros@uol.com.br,Sergipe,Eletrônica,Python god,5
196,Letícia Silveira,20,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python god,4
197,Vitor Hugo Carvalho,65,rodriguesbreno@correia.br,Bahia,Pagode,Python god,3
198,Davi Lucas Nogueira,56,ada-conceicao@uol.com.br,Minas Gerais,Rock,Python god,2
199,Luiz Otávio Azevedo,43,maria-sophianogueira@lopes.net,Amapá,Funk,Python god,1