In [11]:
import pandas as pd

reviews = pd.read_csv('02_data.csv')
reviews

,nome,idade,email,estado,genero_musical,linguagem
0,Samuel Melo,NaN,goncalvesdanilo@gmail.com,Espírito Santo,Blues,Python
1,Henrique da Mata,NaN,jesusisadora@uol.com.br,Rondônia,Jazz,Java
2,Luigi Cunha,39.0,acarvalho@uol.com.br,Minas Gerais,Hip Hop,Python
3,Dra. Fernanda Novaes,29.0,ribeiropietra@yahoo.com.br,Amazonas,Sertanejo,Java
4,Joaquim Ferreira,60.0,emelo@gmail.com,Distrito Federal,Eletrônica,Java
...,...,...,...,...,...,...
195,Vitor Gabriel da Cruz,32.0,jbarros@uol.com.br,Sergipe,Eletrônica,Python
196,Letícia Silveira,20.0,jsilveira@pereira.org,Rio Grande do Norte,Hip Hop,Python
197,Vitor Hugo Carvalho,65.0,rodriguesbreno@correia.br,Bahia,Pagode,Python
198,Davi Lucas Nogueira,56.0,ada-conceicao@uol.com.br,Minas Gerais,Rock,Java
199,Luiz Otávio Azevedo,43.0,maria-sophianogueira@lopes.net,Amapá,Funk,Java

In [5]:
# trocando ripo de dado
reviews.idade.astype('float64')

0      27.0
1      60.0
2      39.0
3      29.0
4      60.0
       ...
195    32.0
196    20.0
197    65.0
198    56.0
199    43.0
Name: idade, Length: 200, dtype: float64

In [7]:
# exibindo qual tipo de dado
reviews.idade.dtype

dtype('int64')

In [13]:
# troca os valores nulos 
reviews.idade.fillna("Unknown")

0      Unknown
1      Unknown
2           39
3           29
4           60
        ...
195         32
196         20
197         65
198         56
199         43
Name: idade, Length: 200, dtype: object

In [16]:
reviews.genero_musical.replace('Blues', 'SAMBA DO BOM')

0      SAMBA DO BOM
1              Jazz
2           Hip Hop
3         Sertanejo
4        Eletrônica
           ...
195      Eletrônica
196         Hip Hop
197          Pagode
198            Rock
199            Funk
Name: genero_musical, Length: 200, dtype: object